header {
    background-color:white;
    height: 70px;
    width: 100%;
    border-bottom: solid 1px #CCCCCC;
    display: flex;
    align-items: center;
}
header .logo {
    width: 142px;
    height: 60px;
    background: url("../images/logo.png") no-repeat center;
    padding-left: 20px;
}